.hamburger {

  cursor: pointer;
  display: inline-block;
  
  
  & > div{
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    
  }

  &.open{
    & > div:nth-child(1){
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px);
       
    }
    & > div:nth-child(2){
      transform: translateX(100%);
      opacity: 0;   
    }
    & > div:nth-child(3){
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px);
    }
  }
  &.notOpen{
    & > div:nth-child(1){
      transform: rotate(0);  
    }
    & > div:nth-child(2){
      transform: translateX(0);
      opacity: 1;  
    }
    & > div:nth-child(3){
      transform: rotate(0);   
    }
  }

  @media(min-width: 1000px){
    display: none;
  }
}

